
<nav class="navbar mtm-primary-navbar navbar-inverse">
  <div class="container-fluid">
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
    <!--<span class="sr-only">Toggle navigation</span>-->
    <!--<span class="icon-bar">Studios</span>-->
    <!--<span class="icon-bar">Resources</span>-->
    <!--<span class="icon-bar">Inventory</span>-->
    <!--<span class="icon-bar">Clientele</span>-->
    <!--<span class="icon-bar">Tools</span>-->
    <!--<span class="icon-bar">Logout</span>-->
    <!--<span class="icon-bar">Help</span>-->
    <!--</button>-->
    <!--<a [routerLink]="['/start']" class="navbar-brand"><img src="/assets/mtm-logo-diamond.png" alt="MTM"></a>-->
    <!--</div>-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->

    <ul class="nav navbar-nav">
      <a [routerLink]="['']" class="navbar-brand"><img id="brand-image" src="/assets/glossatronic-brand.png" alt="gt"></a>
      <li routerLinkActive="active">
        <a>Glossary</a>
      </li>
      <li routerLinkActive="active">
        <a>Requests</a>
      </li>
      <li routerLinkActive="active" class="disabled">
        <a>Experts</a>
      </li>

      <li class="divider-vertical"></li>
      <li routerLinkActive="active" class="disabled">
        <a>Admin</a>
      </li>
    </ul>

  </div><!-- /.navbar-collapse -->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->

</nav>

