
<nav class="navbar mtm-primary-navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a [routerLink]="['']" class="navbar-brand"><img id="brand-image" src="/assets/glossatronic-brand.png" alt="gt"></a>
      <li routerLinkActive="active">
        <a>Glossary</a>
      </li>
      <li routerLinkActive="active">
        <a>Requests</a>
      </li>
      <li routerLinkActive="active" class="disabled">
        <a>Experts</a>
      </li>

      <li class="divider-vertical"></li>
      <li routerLinkActive="active" class="disabled">
        <a>Admin</a>
      </li>
    </ul>
  </div>
</nav>

