<nav class="navbar navbar-default">
  <div id="top-bar" class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li *ngIf="!auth.isAuthenticated()" (click)="doLogin()"><a>Log in</a></li>
        <!--<li  (click)="doLogin()"><a>Log in</a></li>-->
        <li *ngIf="auth.isAuthenticated()" (click)="doLogout()" ><a>Log Out</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>